<div class="container pt-2">

  <ng-container *ngIf="!waiting && !errorMessage">
    <div class="row g-3 align-items-start">
      <!-- Columna de la imagen -->
      <div class="col-12 col-md-5">
        <div id="carouselExampleIndicators" class="carousel slide">
          <!-- Indicadores -->
          <div class="carousel-indicators">
            @for (url of service?.url; track i; let isFirst = $first; let i = $index) {
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                attr.data-bs-slide-to="{{ i }}"
                [ngClass]="{ active: isFirst }"
                aria-current="true"
                attr.aria-label="Slide {{ i + 1 }}">
              </button>
            }
          </div>

          <!-- Carrusel -->
          <div class="carousel-inner">
            @for (url of service?.url; track $index; let isFirst = $first;) {
              <div class="carousel-item" [ngClass]="{ active: isFirst }">
                <div
                  class="carousel-img-wrapper"
                  [style.backgroundImage]="'url(\'' + url + '\')'">
                </div>
              </div>
            }
          </div>

          <!-- Controles -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- Columna de los detalles -->
      <div class="col-12 col-md-7">
        <h5>{{ service?.title }}</h5>
        <h6 class="text-muted">Categoría</h6>
        <p>{{ service?.service_type }}</p>

        <h6 class="text-muted">Descripción</h6>
        <p>{{ service?.description }}</p>

        <div class="mt-3">
          <button class="btn btn-outline-primary" [routerLink]="['/services']">
            Volver
          </button>
        </div>

        <div class="mt-3 text-body-secondary fw-bold">
          <span [ngStyle]="{ color: color }">
            {{ service?.price | currency }}
          </span>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="waiting" class="mx-auto text-center">
    <i [ngStyle]="{ color: 'green' }">Cargando datos. Espere un momento</i>
  </div>

  <div *ngIf="errorMessage" class="alert alert-warning" role="alert">
    <ng-container *ngFor="let line of errorMessage.split('\n')">
      <div>{{ line }}</div>
    </ng-container>
  </div>
  
</div>
