<div class="container pt-2">
  <ng-container *ngIf="!waiting && !errorMessage">
    <div *ngIf="hasServices">
      <div class="row mx-auto">
        @for (service of servicesList; track $index) {
          <div class="col-12 col-md-6 col-lg-4 my-1">
            <div
              class="card list-item mx-auto h-100"
              [ngClass]="{
                'flex-row': isMobile,
                'flex-column': !isMobile
              }"
              [routerLink]="['/services', service.id]"
            >
              <!-- Imagen como fondo de un div -->
              <div
                class="card-img-wrapper"
                [ngStyle]="{
                  backgroundImage: 'url(' + service.url + ')',
                  backgroundSize: 'cover',
                  backgroundPosition: 'center',
                  width: isMobile ? '100px' : '100%',
                  height: isMobile ? '100px' : '200px'
                }"
              ></div>

              <!-- Contenido -->
              <div class="card-body flex-fill d-flex flex-column justify-content-center pt-1 pb-0 ps-2 pe-0">
                <b class="card-title mb-1">{{ service.title }}</b>
                <small class="text-body-secondary">{{ getShortDescription(service) }}</small>
              </div>

              <!-- Precio -->
              <div class="card-footer d-flex justify-content-end align-items-center ps-1 pe-1">
                <b class="text-nowrap">
                  <app-price-display [price]="service.price"></app-price-display>
                </b>
              </div>
            </div>
          </div>
        }
      </div>
      <app-paginator
        [currentPage]="getCurrentPage()"
        [totalPages]="totalPages"
        [perPage]="perPage"
        [perPageOptions]="perPageOptions"
        (pageChange)="onPageChange($event)"
        (perPageChange)="onPerPageChange($event)">
      </app-paginator>
    </div>
  </ng-container>

  <ng-container *ngIf="!waiting && emptyList">
    <div class="text-center">
      <i [ngStyle]="{ color: 'green' }">{{ emptyListMessage }}</i>
    </div>
  </ng-container>

  <div *ngIf="waiting" class="mx-auto text-center">
    <i [ngStyle]="{ color: 'green' }">{{ waitingMessage }}</i>
  </div>

  <div *ngIf="errorMessage" class="alert alert-warning mt-1" role="alert">
    <ng-container *ngFor="let line of errorMessage.split('\n')">
      <div>{{ line }}</div>
    </ng-container>
  </div>
</div>
