.list-item {
  color: #424242;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 4px; /* opcional: esquinas levemente redondeadas */
}

.list-item:hover,
.list-item:focus,
.list-item:active,
.list-item.active,
.open > .dropdown-toggle.list-item {
  color: #007ea5;
  background-color: #f0f0f0;
  cursor: pointer;
}

.card-footer {
  border-top: none !important;
  background-color: #fcfcfc7a;
}
