<div class="container-fluid w-100 p-0">
  <div class="row mx-0">
    <div class="col-6 p-0">
      <div class="d-flex justify-content-start ps-4 py-2" id="logo-bar">
        <img
          src="./assets/logo-super-oficios-transparente-tiny.png"
          alt="..."
        />
      </div>
    </div>
    <div class="col-6 p-0" id="user-bar">
      <div
        *ngIf="hasValidSession()"
        class="d-flex justify-content-end ps-4 h-100 pe-4 align-items-center"
      >
        Hola, {{ userName() | titlecase }}
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand pt-1 pb-0" id="search-bar">
  <div class="container-fluid text-center p-0">
    <div class="row w-100 justify-content-center mx-auto">
      <div class="col-12 col-sm-9">
        <form
          [formGroup]="searchForm"
          (ngSubmit)="search()"
          class="d-flex"
          role="search"
        >
          <input
            class="form-control me-2"
            type="search"
            placeholder="Escribe el servicio que buscas"
            aria-label="Buscar"
            formControlName="search"
          />
          <button class="btn btn-outline-primary">Buscar</button>
        </form>
      </div>

      <div class="horizontal-scroll-wrapper px-0">

      <div class="col text-end px-0">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
          <div class="horizontal-scroll-menu w-100">
            <ul class="navbar-nav d-flex flex-row justify-content-start justify-content-lg-center mb-0">
              <li class="nav-item">
                <a class="nav-link text-primary text-nowrap" routerLink=""
                  >Inicio</a
                >
              </li>
              <ng-container *ngIf="hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="services-list"
                    >Mis servicios</a
                  >
                </li>
              </ng-container>

              <ng-container *ngIf="hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="appointment-slot-manager"
                    >Mis turnos</a
                  >
                </li>
              </ng-container>

              <ng-container *ngIf="hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="service-new"
                    >Nuevo Servicio</a
                  >
                </li>
              </ng-container>

              <ng-container *ngIf="!hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="register"
                    >Registrarse</a
                  >
                </li>
              </ng-container>
              <ng-container *ngIf="!hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="login"
                    >Iniciar Sesión</a
                  >
                </li>
              </ng-container>
              <ng-container *ngIf="hasValidSession()">
                <li class="nav-item">
                  <a
                    class="nav-link text-primary text-nowrap"
                    routerLink="logout"
                    >Salir</a
                  >
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>      
    </div>
  </div>
</nav>
<app-message-toast />
<router-outlet></router-outlet>
