:host {
  display: inline-block;
}

.price-symbol,
.price-decimal {
  font-size: 0.70rem;
  line-height: 1;
  margin-top: 0.20rem;
}

.price-integer {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0.1rem;
}
